.card {
  border: 2px solid red;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-wrap: wrap;
}

.name {
  border: 2px solid green;
}

.founded {
  border: 2px solid blue;

}
.seats {
  border: 2px solid purple;
}
